
[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad
RemoteHidPythonServer/RemoteHidPythonServer.sublime-workspace
RemoteHidPythonServer/RemoteHidPythonServer.sublime-project
RemoteHidPythonServer/configs.pyc
RemoteHidPythonServer/tcpServer.pyc
RemoteHidPythonServer/udpEchoServer.pyc
RemoteHidPythonServer/udpServer.pyc